<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinohacks.tinohacksproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".allergyentry" />
        <activity android:name=".Type_of_allergy" />
        <activity android:name=".EggAllergy" />
        <activity android:name=".peanuts_allergy" />
        <activity android:name=".DairyAllergy" />
        <activity android:name=".ItalianPeanuts" />
        <activity android:name=".ItalianDairy" />
        <activity android:name=".ItalianEgg" />
        <activity
            android:name=".ChineseDairy"
            android:label="@string/title_activity_chinese_dairy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChineseDairy2" />
        <activity android:name=".ChinesePeanut" />
        <activity android:name=".Chinese_Egg" />
        <activity android:name=".IndianEgg" />
        <activity android:name=".IndianDiary" />
        <activity android:name=".IndianPeanuts"></activity>
    </application>

</manifest>